@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-text: #2d3748;
  --theme-text-dull: #5c6069;
  --theme-text-long: #718096;
  --theme-color: #b80c09;
  --theme-color-hover: #d34f4d;
  /*   --theme-color: #00bfa5;
  --theme-color-hover: #64ffda; */
  --theme-section-bg: #f6f7fc;
  --theme-prove-color: #b8336a;
  --theme-prove-color: #d30c7b;
  --theme-prove-color: #907ad6;
  --theme-prove-color: #dabfff;
  --theme-prove-color: #c97b84;
  --theme-prove-color: #d6c9c9;
  --theme-prove-color: #ed9b40;
  --theme-prove-color: #aa8f66;
  --theme-prove-color: #b80c09;
  --font-size-small: 1rem;
  --font-size-reg: 1.2rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 2.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--theme-text);
  text-decoration: none;
  list-style: none;
  transition: 0.3s all ease-out;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

div {
  width: 100%;
  max-width: 100%;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.d-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-menu ul li {
  font-size: var(--font-size-small);
  color: var(--theme-text);
  font-weight: 600;
  padding: 1rem;
}

.d-menu ul li:hover {
  color: var(--theme-color);
}

/* TEXT */

.tag-line {
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: 0.8rem;
}

.tag-line span {
  color: var(--theme-color);
}

.main-line {
  font-weight: 700;
  font-size: var(--font-size-xlarge);
  margin-bottom: 1.2rem;
  position: relative;
}

.description {
  font-size: var(--font-size-reg);
  margin-bottom: 2rem;
}

/* FOOTER */

.footer {
  background-image: url("../media/shapes/bg-footer.svg");
  background-color: #ffffff;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
