@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-text: #2d3748;
  --theme-text-dull: #5c6069;
  --theme-text-long: #718096;
  --theme-color: #00bfa5;
  --theme-color-hover: #64ffda;
  --theme-color-light: #b2ebe4;
  --theme-secondary-color: #907ad6;
  --theme-secondary-color-hover: #b29bff;
  /*  --theme-secondary-color: #d3002d;
  --theme-secondary-color-hover: #b80c09; */
  --theme-section-bg: #f6f7fc;
  /*   --theme-prove-color: #b8336a;
  --theme-prove-color: #d30c7b;
  --theme-prove-color: #907ad6;
  --theme-prove-color: #dabfff;
  --theme-prove-color: #c97b84;
  --theme-prove-color: #d6c9c9;
  --theme-prove-color: #ed9b40;
  --theme-prove-color: #aa8f66;
  --theme-prove-color: #b80c09; */
  --font-size-xsmall: 0.8rem;
  --font-size-small: 1rem;
  --font-size-reg: 1.2rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 2.8rem;
  --font-lineheight-xxlarge: 3.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--theme-text);
  text-decoration: none;
  list-style: none;
  transition: 0.3s all ease-out;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

div {
  width: 100%;
  max-width: 100%;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;
  display: flex;
}

.d-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-menu ul li {
  font-size: var(--font-size-small);
  font-weight: 600;
}

.d-menu ul li a:link {
  color: var(--theme-text);
}

.d-menu ul li a:visited {
  color: var(--theme-text);
}

.d-menu ul li a:hover {
  color: var(--theme-color);
  text-decoration: underline;
  text-decoration-color: var(--theme-color-hover);
  text-decoration-thickness: 5px;
}

.menu-active-item {
  color: var(--theme-color);
  text-decoration: underline;
  text-decoration-color: var(--theme-color-hover);
  text-decoration-thickness: 5px;
}

/* TEXT */

.tag-line {
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: 0.8rem;
}

.main-line {
  font-weight: 700;
  font-size: var(--font-size-xlarge);
  margin-bottom: 1.2rem;
  position: relative;
}

.description {
  font-size: var(--font-size-reg);
  margin-bottom: 2rem;
}

/* ELEMENTS */

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.btn {
  background-color: var(--theme-secondary-color);
  padding: 0.6rem 1.4rem;
  border-radius: 12px;
  border: none;
  font-size: var(--font-size-small);
  font-weight: 400;
  color: #ffffff;
}

.btn:hover {
  /* color: var(--color-1); */
  background-color: var(--theme-secondary-color-hover);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.highlight {
  color: var(--theme-color);
}

.secondary_color {
  color: var(--theme-secondary-color);
}

.active {
  color: var(--theme-color);
}

p a:link {
  color: var(--theme-secondary-color);
  font-weight: 500;
}

p a:visited {
  color: var(--theme-secondary-color);
  font-weight: 500;
}

p a:hover,
p a:active {
  color: var(--theme-secondary-color-hover);
  text-decoration: underline;
  text-decoration-color: var(--theme-secondary-color-hover);
  text-decoration-thickness: 3px;
}

a[href^="mailto:"] {
  font-style: italic;
}

/* FOOTER */

footer {
  background-image: url("../media/shapes/bg-footer.svg");
  background-color: var(--theme-section-bg);
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  max-width: 900px;
  margin: auto;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-xsmall);
  line-height: var(--font-size-reg);
}

.footer-col h5 {
  font-size: var(--font-size-small);
  line-height: var(--font-size-reg);
  margin-block-end: 0.8rem;
}

.footer-col a:hover,
.footer-col a:active {
  color: var(--theme-color);
  text-decoration: underline;
  text-decoration-color: var(--theme-color-hover);
  text-decoration-thickness: 5px;
}

.f-social li {
  padding-left: 2rem;
  background-position: 10px 2px;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
}

.f-social li:first-of-type {
  background-image: url(../media/icons/discord.svg);
}

.f-social li:nth-of-type(2) {
  background-image: url(../media/icons/youtube.svg);
}

.f-social li:nth-of-type(3) {
  background-image: url(../media/icons/instagram.svg);
}

.f-social li:last-of-type {
  background-image: url(../media/icons/discord.svg);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-light);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--theme-section-bg);
}

/* RESPONSIVE */
@media only screen and (max-width: 850px) {
  .d-menu {
    display: none;
  }

  .footer {
    height: auto;
    flex-direction: column;
    padding: 4rem 1rem;
  }

  .footer-col {
    max-width: 400px;
    margin: auto;
  }

  .footer-col h5 {
    font-size: var(--font-size-small);
    line-height: var(--font-size-reg);
    margin-block-start: 1.8rem;
    margin-block-end: 0.2rem;
  }

  /* NAVBAR */

  #m-menu-toggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #m-menu-toggle a {
    text-decoration: none;
    color: var(--theme-text);
    transition: color 0.3s ease;
  }

  #m-menu-toggle a:hover {
    color: var(--theme-color-hover);
  }

  #m-menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #m-menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--theme-text-long);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #m-menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #m-menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #m-menu-toggle input:checked ~ span {
    background: var(--theme-color-hover);
  }

  /*  

  #m-menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #m-menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  } */

  #m-menu-toggle ul {
    position: absolute;
    width: 100vw;
    top: 46px;
    left: -91vw;
    padding: 30px 50px;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -300px);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  #m-menu-toggle ul li {
    padding: 10px 0;
    font-size: var(--font-size-reg);
  }

  #m-menu-toggle input:checked ~ ul {
    transform: none;
  }
}

@media only screen and (max-width: 420px) {
  .logo {
    width: 120px;
  }

  #m-menu-toggle ul {
    width: 107vw;
    top: 39px;
  }

  #m-menu-toggle ul li {
    padding: 10px 0;
    font-size: var(--font-size-small);
  }
}
