/* MAIN - INTRO */

main {
  padding-top: 10rem;
  background-image: url("../media/sshapes/cdcinvert.jpg");
  background-color: #ffffff;
  background-origin: content-box;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 50%;
}

h1 {
  line-height: var(--font-lineheight-xxlarge);
}

.container:not(.navbar) {
  max-width: 750px;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

article ul {
  margin-left: 0;
  padding: 0 0 1rem 3rem;
}

article ul li {
  position: relative;
  padding: 0.5rem 1rem 0 0;
}

article ul li::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 11px;
  width: 20px;
  height: 20px;
  background: url("../media/icons/arrow-right-lilac.svg");
  background-repeat: no-repeat;
}

article li a:link {
  color: var(--theme-secondary-color);
  font-weight: 500;
}

article li a:visited {
  color: var(--theme-secondary-color);
  font-weight: 500;
}

article li a:hover,
articleli a:active {
  color: var(--theme-secondary-color-hover);
  text-decoration: underline;
  text-decoration-color: var(--theme-secondary-color-hover);
  text-decoration-thickness: 3px;
}

@media only screen and (max-width: 850px) {
  main {
    padding-top: 8rem;
    background-position: 95% 20vh;
    background-size: 100%;
    min-height: 700px;
  }
}

@media only screen and (min-width: 851px) {
  main {
    min-height: 900px;
  }
}
